<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleName</key>
  <string>Story Dubbing</string>
  <key>CFBundleDisplayName</key>
  <string>Story Dubbing Workbench</string>
  <key>CFBundleIdentifier</key>
  <string>com.storydubbing.workbench</string>
  <key>CFBundleVersion</key>
  <string>__VERSION__</string>
  <key>CFBundleShortVersionString</key>
  <string>__VERSION__</string>
  <key>CFBundleExecutable</key>
  <string>StoryDubbing</string>
  <key>CFBundlePackageType</key>
  <string>APPL</string>
  <key>LSMinimumSystemVersion</key>
  <string>12.0</string>
  <key>NSHighResolutionCapable</key>
  <true/>
  <key>LSApplicationCategoryType</key>
  <string>public.app-category.video</string>
</dict>
</plist>
